:root{
  --Dark-Color:#202142;
  --Alternate-Color: #ff6a95;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #dfe0f1;    
  line-height: 1.6;
}
.App {
  background-color: var(--Dark-Color);
}

.navbar {
  background-color: rgba(0, 0, 0, 0.4);
  color:var(--Alternate-Color)
}

.Card{
  display: flex;
  justify-content: center;
  align-items: center;
}

.Select {
  width: 100%;
}
.container {
  max-width: 768px;
  margin: auto;
  padding: 0 20px;
}